.footer {
    background-color: #48466d;
    color: #eeeeee;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0.8em;
    align-items: center;
}

.footer {
    margin-top: 1rem;
}

