.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8f8f6;
    padding: 10px;
    padding-top: 5rem;
    margin-top: -5rem;

    h1 {
        font-weight: 800;
    }
    img {
        width: 450px;
        height: 100%;
        animation: bounce 2s ease-in-out infinite ;
    }
}

@keyframes bounce {
    0% {transform:  translateY(0);}
    50% {transform: translateY(-25px);}
    100% {transform: translateY(0);}
}
